*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1920px;
    margin: 0 auto;
}
.mob_logo {
    width: 60px;
}
.sidebar {
    width: 100px;
    height: 100vh;
    filter: saturate(0.8);
}
.side_img {
    width: 100%;
}
.top {
    width: calc(100% - 50px);
    height: 100vh;
}
.mob_name_logo{
    width: 30px;
}
.card td {
    text-align: center;
}
.card thead th {
    padding: 2rem 1rem 1rem;
}
.card table tbody th, .card h2 {
    padding: 1rem 1rem;
}
.card table tbody th, .card td, .card thead {
    border-bottom: 1px solid lightgray;
}

/* spacing */
.py_07{
    padding: 0.7rem 0 ;
}

/* color */

.bg_blue_dark {
    background-color: var(--dash-sidebar-blue-dark);
}

:root {
    --dash-sidebar-blue-dark: #051e34;
}
