*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1920px;
    margin: 0 auto;
}
#site_main{
    height: calc(100vh - 100px);
}
#site_header {
    height: 100px;
}
.mob_logo {
    width: 60px;
}
.sidebar_mob {
    background-image: url(../img/sidebar-bg.png);
    width: 100px;
}
.sidebar_desk{
    background-image: url(../img/sidebar-bg.png);
    width: 200px;
    height: calc(100vh - 100px);
}
.side_img {
    width: 100%;
}
.row_sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.mob_name_logo{
    width: 30px;
}
.card td {
    text-align: center;
}
.card thead th {
    padding: 2rem 1rem 1rem;
}
.card table tbody th, .card h2 {
    padding: 1rem 1rem;
}
.card table tbody th, .card td, .card thead {
    border-bottom: 1px solid lightgray;
}
tr button {
    transform: scale(0.7);
}


/* spacing */
.py_07{
    padding: 0.7rem 0 ;
}
.p_05{
    padding: 0.1rem 0.4rem;
}
.pt_04{
    padding: 0.4rem 0 0;
}
.icon_header a i {
    margin: 0 1.5rem;
}

.line_h{
    line-height: 40px;
    margin: 0;
}
.fs_16{
    font-size: 16px;
}
.fs_18_5{
    font-size: 18.5px;
}
.fs_20{
    font-size: 20px;
}
.fs_22{
    font-size: 22px;
}

/* color */

.bg_blue_dark {
    background-color: var(--dash-sidebar-blue-dark);
}

:root {
    --dash-sidebar-blue-dark: #051e34;
}
